* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: 'Arial', sans-serif;
  height: 100%;
  background-color: #f5f5f5;
}

.degrade {
  position: absolute;
  z-index: 1;
  height:100%;
  width: 83.6%;

}
/* Hero section */
body {
  font-family: system-ui, sans-serif;
  background-color:black;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.hero{
  position: absolute;
  z-index: 1000;
};

.logo {
  width: 318px;
  height: auto;
  margin-bottom: 20px;
}

h1 {
  font-size: 3vw;
  margin-bottom: 10px;
}

.imagem_inicial {
  height: 100%;
  width: 83.4%;
}

p {
  font-size: 1.94vw;
  margin-bottom: 20px;
  margin-left: 100px;
   margin-right: 100px;
}

button {
  padding: 12px 25px;
  font-size: 1.2vw;
  background-color: rgb(0, 255, 38);
  border: none;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  background-color: rgb(0, 255, 38);
}