/* <weight>: Use a value from 400 to 900
// <uniquifier>: Use a unique and descriptive class name*/

.playfair-display-uniquifier {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

body{
    font-family:"Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    background-color:rgb(0, 0, 0);
}

.LogoNav{
    width:55px;
    height:55px;
}
.metade{
    width:50%;
    
}
.metade{
    display: flex;
    justify-content: right;
}
    .LogoLogin{
        width:20px;
        margin-right: 10px;
    }
    
.BanneInicialConter{
    width: 100%;
    height : 750px;
    background-color: black; 
    display: flex; 
    justify-content: center;
}
    .imagemContida{
        width:100% ;
        height: 100%;
        background-image: url(ImagemFundo.png);
    }
        .ImagemDegrade{
            width:100% ;
            height: 100%;
            background-image: url(retangulo_degrade.png);
        }
            .ContainerPaginaInicial{
                    display: flex;
                    flex-direction: column;
                    margin: 0px 100px;
            }
        .abaixar{
            margin-top: 50px;
        }
        .LogoPagina{
            height: 200px;
        }
            .CentralizarTudo{
                width: 100%;
                display: flex;
                justify-content:center; 
                height:33%;
            }

            .CentralizarContainer{
                width: 100%;
                height:10%;
                display: flex;
                justify-content:center;
            }
            
                .BotaoInicial{
                    border-radius: 20px;
                    border: none;
                    background-color: #00FF26;
                    height: 45px;
                    width: 135px;
                }



.CarrosselPai{
    width: 100%;
    display:flex;
    justify-content:center;
}

.card{
    width:400px;
}

.sobre-nos{
    gap:30px;
}

.Textos-sobre-nós{
    width:550px;
}